<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  
  <body>

    <div class="page-header">
      <h1>MakersBnB - Feel at home, anywhere</h1>
    </div>


    <div class="nav">

    <a class="nav_links" href="/about" %>About</a> 
    |
    <a class="nav_links" href="/login" %>Login</a>
  
    </div>

    <div>


  <p> MakersBnb was created by four friends, Ben, Claire, Jack and Meghan, who are all keen travellers who wanted to stay in interesting accommodation when away from home.</p>

  </body>
</html>