<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>

    <div class="page-header">
      <h1>MakersBnB - Feel at home, anywhere</h1>
    </div>

    <div class="nav">

    <a class="nav_links" href="/dates" %>Spaces</a> 
    |
  <a class="nav_links" href="/requests" %>Requests</a> 
  |
  <a class="nav_links" href="/sessions/destroy" %>Sign Out</a>

  </div>

    <%if @user_name%> 
    <div class="welcome">
      You are logged in <%=@user_name%>! 
    </div>   
    <%end%>

    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>

    <div class="sub-header">
    <h2>Book a space</h2>
  </div>

  <div class="welcomeMessage">
  <form method="get" action="/spaces/new">
  <button>List a space</button>
  </form>
  </div>
        
  <div class="container">
  <div class="dates-form">

<label for="start">Available from (DD/MM/YY)</label>
  <form method="post" action="/selected-dates">
    <input type="date" id="start" name="trip_start"
      value="<%=Date.today.to_s%>"
    min="2018-01-01" max="2031-12-28">
    <br>
<label for="end">Available to (DD/MM/YY)</label>
    <br>
    <input type="date" id="end" name="trip_end"
       value="<%=Date.today.to_s%>"
       min="2018-01-01" max="2031-12-31">
    <br>
    <button>List spaces</button>
  </form>
  <br>

  </div>
  </div>
  </body>
</html>