<form method="post" action="/spaces">
  <input type="text" name="name" placeholder="Name" />  
  <input type="text" name="description" placeholder="Description" />
  <input type="price" name="price" placeholder="Price" />
  <input type="submit" value="Submit" />
</form>



