<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>
  <body>

  <div class="page-header">
  <h1>MakersBnB - Feel at home, anywhere</h1>
</div>

<div class="nav">

  <a class="nav_links" href="/about" %>About</a> 
  |
  <a class="nav_links" href="/homepage" %>Sign Up</a>

  </div>

    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>

    <div class="welcomeMessage">Log in to MakersBnB</div>

    <div class="container">
      <div class="login-form">
        <form action="/login-details" method="post">
          <div>
            <label>Email Address</label>
          </div>
          <div class="form-details">
            <input type="text" name="email">
          </div>
          <div>
            <label>Password</label>
          </div>
          <div class="form-details">
            <input type="password" name="password">
          </div>
          <div class="form-details">
            <button>Log in</button>
          </div>
        </form>
      </div>
    </div>
  </body>