<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div class="login">Login to MakersBnB</div>
    <div class="container">
      <div class="login-form">
        <form action="/dates" method="get">
          <div>
            <label>Enter Email</label>
          </div>
          <div class="form-details">
            <input type="text" name="login_email">
          </div>
          <div>
            <label>Enter Password</label>
          </div>
          <div class="form-details">
            <input type="text" name="login_password">
          </div>
          <div class="form-details">
            <button>Login</button>
          </div>
        </form>
  </body>